<?xml version="1.0"?>
<!--
  Created By Shaymaa at 18/06/19 11:48.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Module/etc/module.xsd">
    <module name="MageArab_OrderWorkflow" setup_version="1.0.0">
        <sequence>
            <module name="Magento_Backend"/>
             <module name="Magento_Sales"/>
        </sequence>
	</module>
</config>